.rust_info.json
target/
debug/
rust.d
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info
dist/
build/
*.so
*.dylib
*.dll

# Go temp files and folders
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.log
*.tmp
*.swp
*.swo
*.DS_Store
andrhuni_coding/